<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row">
        <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{i.courseTitle}}</h5>
              <h5 class="card-title">{{i.courseDescription}}</h5>
              <h5 class="card-title">{{i.courseDuration}}</h5>
              <h5 class="card-title">{{i.courseVenue}}</h5>
              <h5 class="card-title">{{i.courseDate}}</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>